#navBarraSuperior{
    background-color:rgb( 000,196,179);
}

#barraSuperior{
    background-color:rgb( 000,196,179);
}
#navbarNav{
    background-color:rgb( 000,196,179);
}
.imagenCarrusel{
    width: 80%;
    height: 500px;
}
#listaNav{
    background-color: rgb(245,191,154);
}

#divPrincipal{
    background-color: white;
}
p{
    font-family: sans-serif;
    color: white;
    font-size: large;
}

.lineaD{
    width: 95%;
    height: 3px;
    background-color: rgb( 000,196,179);
    
}
