#navBarraSuperior{
    background-color:rgb( 000,196,179);
}

#barraSuperior{
    background-color:rgb( 000,196,179);
}
#navbarNav{
    background-color:rgb( 000,196,179);
}

#listaNav{
    background-color: rgb(245,191,154);
}

#divPrincipal{
    background-color: aliceblue;
}
p{
    font-family: sans-serif;
    color: white;
    font-size: large;
}

