#navBarraSuperior {
  background-color: rgb(000, 196, 179);
}

#barraSuperior {
  background-color: rgb(000, 196, 179);
}
#navbarNav {
  background-color: rgb(000, 196, 179);
}
/*.imagenCarrusel {
  width: 1200px;
  
  min-width: auto ;
  height: 500px;
  min-height: auto;
}
*/
.imagenContenedorCarrusel{
  margin-left: 5%;
  margin-right: 5%;
  
}
.imagenProductoCategoria {
  width: 150px;
  height: auto;
}

#listaNav {
  background-color: rgb(245, 191, 154);
}

#divPrincipal {
  background-color: white;
}
p {
  font-family: sans-serif;
  color: white;
  font-size: large;
}

.lineaD {
  width: 95%;
  height: 2px;
  background-color: rgb(000, 196, 179);
}

/* Estilos para la barra lateral de redes sociales */
.social-sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  padding: 15px;
  z-index: 1000;
}

.social-sidebar ul {
  list-style: none;
  padding: 0;
}

.social-sidebar ul li {
  margin-bottom: 10px;
}

.social-sidebar ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

/* Estilos para las imágenes de las redes sociales */
.social-sidebar ul li img {
  width: 40px;
  height: 40px;
}
.p {
  color: black;
}
/* Cambia los estilos según tus preferencias */

.menu-btn {
  width: 150px; /* Ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

/* Aumenta el tamaño del menú desplegable */

.ancho {
  /*ancho de las tablas desplegables*/
  width: 900px;
}

.titulosCategorias {
  padding-left: 4%;
  padding-right: 25%;
}
.imagenCarruselProducto {
  width: 800px;
  height: auto;
}
.carruselTam {
  padding-top: 2fr;
  height: 700px;
}
.contenedorProducto {
  outline-color: rgb(245, 191, 154);
  outline-style: dotted;
  margin: 10px;
  padding: 10px;
}
.contenedorUbicacion {
  outline-color: rgb(245, 191, 154);
  outline-style: dotted;
  margin: 10px;
  padding: 10px;
}

.barraSuperiorBoton:hover{
  background-color: rgba(211, 211, 211, 0.434);  
  
}
.barraSuperiorBoton{
  border-left: 3px solid;
  border-color: rgba(245, 191, 154, 0.571) ;
}

.color2{
  background-color: whitesmoke;
  padding-top: 50px;
  padding-bottom: 50px;
}

#pie{
  background-color: rgb(000, 196, 179);
  outline: black;
}