<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="barraSuperior" class="container-fluid fixed-top"> <!-- barra superior (menu)-->

        <nav class="navbar navbar-expand-lg navbar-light container ">
            <div class="fixed-center mx-auto " id="navBarraSuperior">


                <!--<div><p>Farmacias Altimed Don Pancho</p></a></div>-->


                <div class="row ">
                    <div class="col">

                        <a class="navbar-brand" href="/">
                            <img src="img/Logotipo_sin_aviso_comercial_176x56.png" alt="Logo de la Empresa"
                                class="img-fluid">
                        </a>
                    </div>
                    <div class="col align-self-end">
                        <img src="img/avisoComercial_hx56-cl.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="row ">
                    <div class="col  ">

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse container-fluid justify-content-center " id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item barraSuperiorBoton">
                                    <a class="nav-link h4" href="/#categorias">Productos</a>
                                </li>

                                <li class="nav-item barraSuperiorBoton">
                                    <a class="nav-link h4" href="/#acercaDe">Acerca de</a>
                                </li>

                                <li class="nav-item barraSuperiorBoton">
                                    <a class="nav-link h4" href="/#ubicacion">Ubicacion</a>
                                </li>

                                <li class="nav-item barraSuperiorBoton">
                                    <a class="nav-link h4" href="../contacto">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>

    </div> <!-- div barra superior-->

</body>

</html>