<div><!--Inicio Redes Sociales-->

    <div class="social-sidebar">
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100091419365305"><img
                        src="img/redes/fb_icon-x32.png" alt="Facebook"></a></li>
            <li><a href="https://ws.com"><img src="img/redes/whatsapp_icon-x32.png" alt="Twitter"></a>
            </li>
            <li><a href="https://instagram.com"><img src="img/redes/gmail_icon-x32.png"
                        alt="Instagram"></a>
            </li>

            <!-- Agrega más enlaces a otras redes sociales si es necesario -->
        </ul>
    </div>

</div><!--Fin Redes Sociales-->

